.wrapper{
  max-height:1100px;
  border:1px solid #004094;
  display:flex;
  overflow-x:auto;
  
}
/*.wrapper::-webkit-scrollbar{
  width:0;
}*/

.wrapper .item{
  min-width:170px;
  height:250px;
  line-height:170px;
  text-align:center;
  background-color:#fff;
  margin-right:2px;
  margin:40px;
}
.wrapper .name{
	min-width:250px;
	text-align:left;
	font-size:17px
}


.h2{
  color:#004094;
}