/*for image slider*/
.section{
  margin-top:0;
  padding:0;
  height:70vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
.slider{
  width:1100px;
  height:500px;
  border-radius:10px;
  overflow:hidden;
}
.slide{
  width:500%;
  height:500px;
  display:flex;
}
.slide input{
  display:none;
}
.sld{
  width:20%;
  transition:2s;
}
.sld img{
  width:1100px;
  height:500px;
}
/*manual silde navigation*/
.navigation-manual{
  position:absolute;
  width:1100px;
  margin-top:-40px;
  justify-content:center;
  display:flex;
}
.manual-btn{
  border:2px solid #0088a9;
  padding:5px;
  border-radius:10px;
  cursor:pointer;
  transition:1s;
}
.manual-btn:not(:last-child){
  margin-right:40px;
}
.manual-btn:hover{
  background:#0088a9;
}
#radio1:checked ~.first{
  margin-left:0;
} 
#radio2:checked ~.first{
  margin-left:-20%;
} 
#radio3:checked ~.first{
  margin-left:-40%;
} 
#radio4:checked ~.first{
  margin-left:-60%;
} 
#radio5:checked ~.first{
  margin-left:-80%;
} 
#radio6:checked ~.first{
  margin-left:-100%;
} 
/*auto navigation*/

.navigation-auto{
  position:absolute;
  display:flex;
  width:1100px;
  justify-content:center;
  margin-top:360px;
}
.navigation-auto div{
  border:2px solid#0088a9;
  padding:5px;
  border-radius:10px;
  transition:1s;
}
.navigation-auto div:not(:last-child){
  margin-right:40px;
  justify-content:center;
}
#radio1:checked~ .navigation-auto .auto-btn1{
  background-color:#0088a9;
}
#radio2:checked~ .navigation-auto .auto-btn2{
  background-color:#0088a9;
}
#radio3:checked~ .navigation-auto .auto-btn3{
  background-color:#0088a9;
}
#radio4:checked~ .navigation-auto .auto-btn4{
  background-color:#0088a9;
}
#radio5:checked~ .navigation-auto .auto-btn5{
  background-color:#0088a9;
}
#radio6:checked~ .navigation-auto .auto-btn6{
  background-color:#0088a9;
}